
<p-toolbar>
  <div class="p-toolbar-group-left">
    <!--
    <button pButton type="button" (click)="onExpandOneLevel()" class="p-button-outlined">Expand</button>
    <button pButton type="button" (click)="onCollapseOneLevel()" class="p-button-outlined">Collapse</button>
  -->
  </div>
  <div class="p-toolbar-group-right">

  <input type="text" pInputText [(ngModel)]="lookbackNumber" [style]="{width: '20px'}"/>
  <p-dropdown [options]="this.loobackOptions" [(ngModel)]="selectedLookback" optionLabel="label"
	[showClear]="false" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"
  [style]="{width: '100px'}"
  (onChange)="tt.filter($event.value.value, 'lookbackMonth', 'lte')" ></p-dropdown>
  
  <span [ngStyle]="{width: '10px'}"></span>

  <input type="text" pInputText [(ngModel)]="lookforwardNumber" [style]="{width: '20px'}"/>

  <p-dropdown [options]="this.lookforwardOptions" [(ngModel)]="selectedLookforward"  optionLabel="label"
	[showClear]="false" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"
  [style]="{width: '100px'}"
  (onChange)="tt.filter($event.value.value, 'lookforwardMonth', 'lte')" ></p-dropdown>
  
  <span [ngStyle]="{width: '10px'}"></span>

<p-dropdown [options]="specimens" [(ngModel)]="selectedSpecimen" placeholder="Specimen Type" optionLabel="label"
	[showClear]="true" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"
  [style]="{width: '170px'}"
  (onChange)="tt.filter($event.value.value, 'specimenType', 'equals')"
  (onClear)="tt.filter('', 'specimenType', 'notEquals')" ></p-dropdown>
  
  <span [ngStyle]="{width: '10px'}"></span>

<p-dropdown [options]="futureOrderDS.providerList" [(ngModel)]="selectedProvider" placeholder="Provider" optionLabel="label"
	[showClear]="true" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"
  [style]="{width: '130px'}"
  (onChange)="tt.filter($event.value.value, 'orderingProvider', 'equals')"
  (onClear)="tt.filter('', 'orderingProvider', 'notEquals')" ></p-dropdown>

  <span [ngStyle]="{width: '10px'}"></span>

  <p-dropdown [options]="futureOrderDS.orderingList" [(ngModel)]="selectedLocation" placeholder="Ordering Location" optionLabel="label"
	[showClear]="true" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"
  [style]="{width: '170px'}"
  (onChange)="tt.filter($event.value.value, 'orderingLocation', 'equals')"
  (onClear)="tt.filter('', 'orderingLocation', 'notEquals')" ></p-dropdown>

  <span [ngStyle]="{width: '10px'}"></span>

  <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input pInputText type="text" (input)="tt.filterGlobal($any($event.target).value, 'contains')" placeholder="Order Search" />`
  </span>
  
  <span [ngStyle]="{width: '10px'}"></span>

<!--span [ngStyle]="{width: '175px'}"-->
  <p-checkbox 
  [binary]="true" 
  [(ngModel)]="typicalLab" 
  (onChange)="tt.filter($event.checked, 'typicalLab', 'contains')"
  label="Exclude orders uncommonly activated by Lab"></p-checkbox>
<!--/span-->
</div>
</p-toolbar>

<p-tabView>
  <p-tabPanel header="Labs ({{this.orderCounts.lab}})">

<p-treeTable 
#tt
    
    [value]="files"
    [columns]="cols"
    [reorderableColumns]="true"
    [scrollable]="true"
    [filterDelay]="0" [globalFilterFields]="['orderMnemonic']"
    [style]="{width:'100%'}"
    
    [metaKeySelection]="true"
    styleClass="tdLessPadding"
    [loading]="this.loading"
> 


<ng-template pTemplate="header" let-columns>
 
    <tr>
      <th *ngFor="let col of columns" [ttSortableColumn]="col.field" [ngStyle]="{'width': col.width}">
        {{ col.header }}
        <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template
  pTemplate="body"  
  let-rowNode
  let-rowData="rowData"
  let-columns="columns"
>
  <tr 
    [ttRow]="rowNode" 
    [ttSelectableRow]="rowNode"
    [ngClass]="{'kb-row': rowData.hiddenData.dueStatusFlag === 1 }"
    pTooltip={{rowData.hoverInfo}} tooltipStyleClass="cmctooltip"  tooltipPosition="top" [escape]="false"

    >
    <!--pTooltip={{rowData.hoverInfo}} tooltipStyleClass="tooltip"  tooltipPosition="left"-->
    <td 
      [ngClass]="{'kb-cell': rowData.hiddenData.dueStatusFlag === 1 }"
      [ngStyle]="{'width': col.width}"
      *ngFor="let col of columns; let i = index"
      
      > 
      <div *ngIf="i == 0 && rowData.orderId === 0">{{rowData.requestedStartDateVc}}</div>
      <p-treeTableToggler
        [rowNode]="rowNode"
        *ngIf="i == 0"
      > 
    </p-treeTableToggler>
      <p-treeTableCheckbox
        [value]="rowNode"
        *ngIf="i == 0"
      ></p-treeTableCheckbox>
      <span [ngStyle]="{width: '130px'}">
        <i *ngIf="i == 0 && rowData.powerplan.ind === 1" class="pi pi-book">

        </i>
      </span>
      <i *ngIf="i == 4 && rowData.note.ind === 1" class="pi pi-exclamation-circle">

      </i>
      {{ rowData[col.field] }}
     
    </td>
  
  </tr>
</ng-template>
<ng-template pTemplate="emptymessage">
  <tr>
    <td [attr.colspan]="cols.length">No data found.</td>
  </tr>
</ng-template>
</p-treeTable>
</p-tabPanel>
<p-tabPanel header="Cardiology ({{this.orderCounts.cardiology}})">
</p-tabPanel>
<p-tabPanel header="All ({{this.orderCounts.all}})">
  
</p-tabPanel>

</p-tabView>
<p-toolbar>
  <div class="p-toolbar-group-left">
    
<p-accordion>
  <p-accordionTab header="Legend">
    <i class="pi pi-book"> PowerPlan Indicator</i>
    <br>
    <i class="pi pi-exclamation-circle"> Lab Requisition Note Indicator</i>
  </p-accordionTab>
</p-accordion>
  </div>
  <div class="p-toolbar-group-right">
    Last Refresh: {{futureOrderDS.LastRefesh}}
    <span [ngStyle]="{width: '10px'}"></span>
  
    <p-button label="Refresh" icon="pi pi-refresh" (click)="tableRefresh();"></p-button>
    <span [ngStyle]="{width: '10px'}"></span>
    <p-button type="button" (click)="logChange($event)">Activate</p-button>

  </div>
</p-toolbar>
 
