// * Import theme from theme generator *//
@use '~@angular/material' as mat;
@import "theme";

@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

html {
    font-size: 12px;
}

.tdLessPadding {
    td {
      padding: .2em .2em !important;
    }
  }

  ::ng-deep {
    .p-tooltip {
        max-width: fit-content;
     }
} 

.cmctooltip {

  max-width: fit-content;
}