// * Import theme from theme generator *//
@use '~@angular/material' as mat;
@import "theme";

@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

html {
    font-size: 12px;
}

.tdLessPadding {
    td {
      padding: .2em .2em !important;
    }
  }

  .couponcode:hover .coupontooltip {
    display: block;
}


.coupontooltip {
    display: none;
    background: #C8C8C8;
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width:200px;
    height:100px;
}

.couponcode {
    margin:100px;
}